<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <springProperty name="contextName" source="spring.application.name"/>
    <property name="LOG_DIR_PATH" value="${LOG_PATH}/${contextName}"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <property name="FILE_LOG_PATTERN"
              value="[%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}] [%t] [${LOG_LEVEL_PATTERN:-%5p}] [%-40.40logger{39}] [%X{TransactionId}] [%X{ServiceId}] [%Protocol] [%X{LogType}] : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <conversionRule conversionWord="Protocol" converterClass="com.hunter.logging.converter.ProtocolConverter"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_DIR_PATH}/app/app.log</File>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR_PATH}/app/app.log.%d{yyyy-MM-dd.HH}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>256</queueSize>
        <appender-ref ref="FILE"/>
    </appender>
    <appender name="INTERFACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <File>${LOG_DIR_PATH}/interface/interface.log</File>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR_PATH}/interface/interface.log.%d{yyyy-MM-dd.HH}</fileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 过滤掉 WARN 以下级别的日志-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <File>${LOG_DIR_PATH}/error/error.log</File>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR_PATH}/error/error.log.%d{yyyy-MM-dd.HH}</fileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_DIR_PATH}/access/access.log</File>
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR_PATH}/access/access.log.%d{yyyy-MM-dd.HH}</fileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="REMOTE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_DIR_PATH}/remote/remote.log</File>
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR_PATH}/remote/remote.log.%d{yyyy-MM-dd.HH}</fileNamePattern>
        </rollingPolicy>
    </appender>
    <logger name="com.hunter" additivity="false" level="INFO">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="ACCESS" additivity="false" level="INFO">
        <appender-ref ref="ACCESS"/>
    </logger>
    <logger name="INTERFACE" additivity="false" level="INFO">
        <appender-ref ref="INTERFACE"/>
    </logger>
    <logger name="REMOTE" additivity="false" level="INFO">
        <appender-ref ref="REMOTE"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERROR"/>
    </root>
</configuration>